.box {
  height: 300px;
  width: 400px;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(104, 145, 220);
  margin: 5px;
}

.input {
  border-radius: 5px;
}

h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}
